// .faculties-selector {
// }

.faculties {
    width: 1111px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 30px;
}

.faculties-selector {
    width: 540px;
}

.faculty__list {
    width: 540px;
    border:  1px solid #18A0FB;
    padding: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 6px rgba(24, 160, 251, 0.5);
    border-radius: 20px;
}

.faculty__item {
    width: 220px;
    margin-right: auto;
    background: #d5cccc;
    opacity: 0.3;
    border-radius: 20px;
    padding: 8px 14px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:first-child,
    &:nth-child(2) {
        margin-top: 0;
    }
}

.faculty__item p {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #110202;
    pointer-events: none;
}